# Core API
fastapi==0.115.0
uvicorn==0.27.0
python-multipart==0.0.9

opencv-python-headless==4.9.0.80
numpy==1.26.4
Pillow==10.2.0
imageio==2.34.0
imageio-ffmpeg==0.4.9
ffmpeg-python==0.2.0

# Utilities
loguru==0.7.2
